# Exercises 1 - 3

## Exercise 1 - Printing Your Name

In [2]:
print('Sue')

Sue

In [4]:
print('Sue'.upper())

SUE

## Exercise 2 - Adding Variables

In [6]:
name = 'Sue'
age = 20

In [7]:
print(f'{name} is {age}')

Sue is 20

While `name` is a string, `age` is an integer. You cannot just use integers as if they were text. However, modern Python allows you to use so-called f-strings (as seen above) which easily allow you to print variables. Here, Python figures out how to represent the age as text automatically.

In [9]:
type(age)

int

In [13]:
age_string = str(age)
type(age_string)

str

Above you can see that we can use `type` to check of which type a variable is. In the following two lines, we are using `str` to transform `age` into a string. When using f-strings, this happens automatically.

## Exercise 3 - Looping Numbers

In [22]:
for number in range(50):
  if number < 25:
    print(f'{number} is smaller than 25')
  if number > 25:
    print(f'{number} is larger than 25')

0 is smaller than 25
1 is smaller than 25
2 is smaller than 25
3 is smaller than 25
4 is smaller than 25
5 is smaller than 25
6 is smaller than 25
7 is smaller than 25
8 is smaller than 25
9 is smaller than 25
10 is smaller than 25
11 is smaller than 25
12 is smaller than 25
13 is smaller than 25
14 is smaller than 25
15 is smaller than 25
16 is smaller than 25
17 is smaller than 25
18 is smaller than 25
19 is smaller than 25
20 is smaller than 25
21 is smaller than 25
22 is smaller than 25
23 is smaller than 25
24 is smaller than 25
26 is larger than 25
27 is larger than 25
28 is larger than 25
29 is larger than 25
30 is larger than 25
31 is larger than 25
32 is larger than 25
33 is larger than 25
34 is larger than 25
35 is larger than 25
36 is larger than 25
37 is larger than 25
38 is larger than 25
39 is larger than 25
40 is larger than 25
41 is larger than 25
42 is larger than 25
43 is larger than 25
44 is larger than 25
45 is larger than 25
46 is larger than 25
47 is larger than 25
48 is larger than 25
49 is larger than 25

If you look carefully, you will see that the number 25 is missing from our output. This happens because no condition meets 25.

In [24]:
for number in range(50):
  if number < 25:
    print(f'{number} is smaller than 25')
  if number > 25:
    print(f'{number} is larger than 25')
  if number == 25:
    print(f'{number} is equal to 25')

0 is smaller than 25
1 is smaller than 25
2 is smaller than 25
3 is smaller than 25
4 is smaller than 25
5 is smaller than 25
6 is smaller than 25
7 is smaller than 25
8 is smaller than 25
9 is smaller than 25
10 is smaller than 25
11 is smaller than 25
12 is smaller than 25
13 is smaller than 25
14 is smaller than 25
15 is smaller than 25
16 is smaller than 25
17 is smaller than 25
18 is smaller than 25
19 is smaller than 25
20 is smaller than 25
21 is smaller than 25
22 is smaller than 25
23 is smaller than 25
24 is smaller than 25
25 is equal to 25
26 is larger than 25
27 is larger than 25
28 is larger than 25
29 is larger than 25
30 is larger than 25
31 is larger than 25
32 is larger than 25
33 is larger than 25
34 is larger than 25
35 is larger than 25
36 is larger than 25
37 is larger than 25
38 is larger than 25
39 is larger than 25
40 is larger than 25
41 is larger than 25
42 is larger than 25
43 is larger than 25
44 is larger than 25
45 is larger than 25
46 is larger than 25
47 is larger than 25
48 is larger than 25
49 is larger than 25

Please note that this, technically, now produces a 'wrong' result if we take the task, which did not specifiy this condition, seriously.